<button mat-button [matMenuTriggerFor]="menu">
<mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <!-- <a [routerLink]="['/curso']" mat-menu-item>Curso</a>
  <a [routerLink]="['/turma']" mat-menu-item>Turma</a> -->
  <a [routerLink]="['/']" mat-menu-item>Inicial</a>
  <a [routerLink]="['/curso1']" mat-menu-item>Curso1</a>
  <a [routerLink]="['/eixo']" mat-menu-item>Eixo</a>
  <a [routerLink]="['/sala-aula1']" mat-menu-item>SalaAula1</a>
  <a [routerLink]="['/mestre']" mat-menu-item>Mestre</a>
   <a [routerLink]="['/curso1-eixo']" mat-menu-item>CursoEixo</a>
  <a [routerLink]="['/equipe']" mat-menu-item>Equipe</a>
  <a [routerLink]="['/atividade']" mat-menu-item>Atividade</a>
  <a [routerLink]="['/aluno1']" mat-menu-item>Aluno1</a>
  <a [routerLink]="['/atividade-eixo']" mat-menu-item>AtividadeEixo</a> 
 
</mat-menu>