<h1>{{ title }}</h1>
 
<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">
 
  <!--mat-form-field appearance="fill"-->
  <mat-form-field>
    <mat-label>Nome da equipe</mat-label>
    <input name="nome" [(ngModel)]="equipe.nome" matInput required
      placeholder="Informe o nome da equipe">
  </mat-form-field>
 
  <mat-form-field>
    <mat-label>Data inicial</mat-label>
    <input matInput [matDatepicker]="data_inicial" [(ngModel)]="equipe.data_inicial" name="data_inicial" required>
    <mat-datepicker-toggle matSuffix [for]="data_inicial"></mat-datepicker-toggle>
    <mat-datepicker #data_inicial></mat-datepicker>
  </mat-form-field>
 
  <mat-form-field>
    <mat-label>Data final</mat-label>
    <input matInput [matDatepicker]="data_final" [(ngModel)]="equipe.data_final" name="data_final" required>
    <mat-datepicker-toggle matSuffix [for]="data_final"></mat-datepicker-toggle>
    <mat-datepicker #data_final></mat-datepicker>
  </mat-form-field>
 
  <mat-form-field>
    <mat-label>Dias da semana</mat-label>
      <mat-select name="dias_semana" [(ngModel)]="equipe.dias_semana" required multiple>
        <mat-option *ngFor="let dia of diasSemana" [value]="dia.val">
          {{ dia.descr }}
        </mat-option>
      </mat-select>
  </mat-form-field>
 
  <mat-form-field>
    <mat-label>Horário inicial</mat-label>
    <input name="horario_inicial" [(ngModel)]="equipe.horario_inicial" matInput required
      placeholder="Informe o horário inicial" mask="00:00" [dropSpecialCharacters]="false">
  </mat-form-field>
 
  <mat-form-field>
    <mat-label>Horário final</mat-label>
    <input name="horario_final" [(ngModel)]="equipe.horario_final" matInput required
      placeholder="Informe o horário final" mask="00:00" [dropSpecialCharacters]="false">
  </mat-form-field>
 
  <mat-form-field>
    <mat-label>Curso</mat-label>
      <mat-select name="curso" [(ngModel)]="equipe.curso" required>
        <!-- No mat-option, usamos a listagem da entidade relacionada
          para gerar as opções que serão exibidas ao usuário.-->
        <mat-option *ngFor="let curso of cursos1" [value]="curso._id">
          {{ curso.nome }} ({{curso.nivel}})
        </mat-option>
      </mat-select>
  </mat-form-field>

   <mat-form-field>
    <mat-label>Professor</mat-label>
      <mat-select name="professor" [(ngModel)]="equipe.mestre" required>
        <mat-option *ngFor="let mestre of mestres" [value]="mestre._id">
          {{ mestre.nome }} 
        </mat-option>
      </mat-select>
  </mat-form-field>

   <mat-form-field>
    <mat-label>Sala</mat-label>
      <mat-select name="sala_aula" [(ngModel)]="equipe.sala_aula" required>
        <mat-option *ngFor="let sala of salasAula" [value]="sala._id">
          {{ sala.nome }} 
        </mat-option>
      </mat-select>
  </mat-form-field>
 
  <mat-toolbar class="form-buttons">
    <mat-toolbar-row>
      <button mat-raised-button type="submit" color="accent">
        Salvar
      </button>
      <button mat-raised-button type="button" (click)="voltar(f)">
        Voltar
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
 
</form>